<div class="main-container">
  <div style="position: absolute;
	      width: 100%;">
    <img src="../assets/logo.svg"
	 style="z-index: 1;
	      margin-left: auto;
	      left: -30px;
	      top: 221px;"/>
  </div>
  <div class="main-box">
    <!-- info-box -->
    <div class="info-box">
      <div style="font-size: 38px;
		  font-weight: bold;
		  position: absolute;
		  top: 44px;
		  left: 49px;">Привет,</div>
      <div style="font-size: 64px;
		  font-weight: bold;
		  position: absolute;
		  top: 85px;
		  left: 97px;">мы</div>
      <div style="font-size: 76px;
		  font-weight: bold;
		  position: absolute;
		  top: 45px;
		  white-space: nowrap;
		  left: 220px;">
	&mdash; TRocket
      </div>
      <div style="position: absolute;
		  top: 217px;
		  height: 83px;
		  width: 382px;
		  left: 48px;"
	   class="text-block">Платформа, должна обеспечить транспортную компанию получением заказов на выполнение перевозок, формировать маршрут, генерировать документы</div>
      <div style="position: absolute;
		  height: 80px;
		  top: 340px;
		  left: 48px;
		  width: 447px;"
	   class="text-block">Разместив заказ, заявка поступает на условный аукцион среди исполнителей, по результатам которого заказчик может выбрать исполнителя и оформить страховку на транспортировку груза.</div>

    </div>
    <!-- info-box/ -->
    <div class="auth-box">
      <div class="input-box">
	<span>+7 </span>
	<input type="tel"
	       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
	       required/>
      </div>
      <div class="input-box">
	<input placeholder="Введите пароль"
	       type="password"/>
      </div>
      <div class="login-box">
	<div>Забыли пароль?</div>
	<div class="login-button noselect"
	     (click)="register()">Вход</div>
      </div>
      <a routerLink="/register">
	<div class="register-button noselect">Регистрация</div>
      </a>
    </div>

  </div>
</div>
