<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!-- header -->

<div class="flex-right"
     style="border: 5px solid;
	    border-left-color: transparent;
	    border-right-color: transparent;
	    border-top: none;
	    border-radius: 10px;">
    <!-- <div class="header-button">theme</div> -->
    <div class="fit-width header-button" title="language">en</div>
    <span></span>
    <a routerLink="/sign-up"
       class="header-button">register</a>
    <a routerLink="/sign-in"
       class="header-button">login</a>
</div>

<div style="text-align:center">
    <div class="text-c font-x5">YAnSoN</div>
    <div class="font-x2 fit-width nowrap">Yet, another social network
	<div class="text-r"
	     style="padding: 0;
		    margin-right: 0;
		    font-size: 50%;">...but with some
	    <span style="padding: 0;
			 font-style: bold;
			 font-weight: bold;"
		  class="glow-rainbow">superpowers</span></div>
    </div>
</div>


<div style="display: grid;
	    grid-template-columns: 33% 33% 33%;
	    flex-direction: row;">
    <div class="font-x3 text-c"
	 style="color: #b1d109;">Advanced editing tools</div>
    <div class="font-x3 text-c"
	 style="color: #09d1c4;">Two-dimentional page</div>
    <div class="font-x3 text-c"
	 style="color: #d10978;">Custom design<br/>and theming</div>

    <div style="padding: 30px;"><span></span>Actualy, nothing more than several options for fancy markup</div>
    <div style="padding: 30px;"><span></span>Yes, now your profile looks more like a dashboard than like a regular one-direction page</div>
    <div style="padding: 30px;"><span></span>Nice chance to express yourself and optimize the interface, within responsable limits of course</div>
    
    <!-- first feature -->
    
    <div class="flex-left"
	 style="border: 3px dashed grey;
		margin: 10px;">
	<div style="width: 50%;">
	    <div class="placeholder-text"></div>
	    <div class="placeholder-text"></div>
	    <div class="placeholder-img img-filter"></div>
	    <div class="placeholder-text"></div>
	</div>
	<div class="placeholder-line-v"
	     style="width: 50%;">
	    <div class="placeholder-video img-filter"></div>
	    <div class="placeholder-text"></div>
	    <div class="placeholder-lyrics margin-r"></div>
	</div>
    </div>
    
    <!-- second feature -->
    
    <div style="display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 50% 50%;
		margin: 10px;
		height: 70%;
		border: 3px dashed grey;">
		
	<div class="placeholder-empty"
	     style="border: 3px dashed grey;"></div>
	<div class="placeholder-card flex-left"
	     style="border: none;
		    grid-column: 2 / 5;">
	    <div class="placeholder-text"
		 style="padding: 5px;
			margin: 5px;"></div>
	    <div class="placeholder-text placeholder-line-v"
		 style="height: 90%;
			padding: 5px;
			margin: 5px;
			margin-right: 10px;"></div>
	</div>
	<div class="placeholder-card">
	    <div class="placeholder-video img-filter"
		 style="padding: 0;
			padding-top: 50%"></div>
	    <div class="placeholder-text"
		 style="transform: scale(0.9);"></div>
	</div>
	<div class="placeholder-empty"
	     style="border: 3px dashed grey;
		    z-index: 10;">
	    <div class="placeholder-card"
		 style="porition: absolute;
			width: 90px;
			height: 130px;
			margin: 0;
			margin-left: -60px;
			margin-top: -80px;
			transform: rotate(-20deg);">
		<div class="placeholder-lyrics"
		     style="width: 90%;"></div>
	    </div>
	</div>
	<div class="placeholder-card placeholder-img img-filter"
	     style="grid-column: 3 / 5;"></div>
    </div>

    <!-- third feature -->
    
    <div style="display: grid;
		grid-template-rows:14% 14% 14% 14% 42%;
		grid-template-columns: 28.5% 28.5% 14% 14% 14%;
		margin: 10px;
		border: 3px dashed grey;">
	<div class="placeholder-card flex-left theme-demo"
	     style="grid-column: 2 / 4;
		    padding-top: -5px;">
	    <div>themes</div>
	    <div class="circle" style="border-color: #b1d109;"></div>
	    <div class="circle" style="border-color: #09d1c4"></div>
	    <div class="circle" style="border-color: #d10978;"></div>
	</div>
	<div class="placeholder-card placeholder-theme theme-demo-pick  img-filter"
	     style="grid-row: 2 / 4;"></div>
	
	<div class="placeholder-card placeholder-menu theme-demo"
	     style="grid-row: 2 / 3;
		    grid-column: 5 / 6;">
	</div>
	<div class="placeholder-card theme-demo"
	     style="grid-row: 3 / 5;">
	    <div class="placeholder-text"
		 style="transform: scale(0.7);
			margin: 0;"></div>
	</div>
	<div class="placeholder-card theme-demo"
	     style="padding-left: 10%;
		    grid-row: 3 / 5;
		    grid-column: 4 / 6;">
	    <div class="placeholder-music"></div>
	    <div class="placeholder-music"></div>
	    <div class="placeholder-music"></div>
	    <div class="placeholder-music"></div>
	</div>
	<div class="placeholder-card placeholder-img img-filter"
	     style="grid-row: 5 / 6;
		    grid-column: 2 / 5;"></div>
    </div>
</div>

<div class="text-l margin-c font-x2 fit-width"> Do you beileve in magic?<br/>Let's
    <a routerLink="/sign-up"
       class="nowrap mock-button start-button">GET STARTED</a>
</div>
<div style="height: 50px;"
     class="placeholder-empty"></div>

<br/>
<br/>
<br/>
<div class="flex-left margin-c fit-width">
    <a class="mock-button"
       href="https://michaelma455@gmail.com"
       style="color: #ff5052;
	      background-color: white;
	      padding-bottom: 2px;
	      padding-top: 2px;
	      border: 3px solid #ff5052;">GMail</a>
    <span>|</span>
    <a class="mock-button"
       href="https://plus.google.com/u/0/103196205844222897737"
       style="color: white;	
	      border: none;
	      background-color: #ff5052;">Google+</a>
    <span>|</span>
    <a class="mock-button"
       href="https://github.com/junee455"
       style="color: white;
	      border: none;
	      background-color: black;">GitHub</a>
</div>
<!--
     8878AB
     294147
     73AD74
     804742
     DCB692 -->

