<div class="main-container">
  <h1>Мой профиль</h1>
  
  <div class="grid">
    <div>
      <div>Имя</div>
      <input value={{user.lastName}} />
    </div>
    <div>
      <div>Фамилия</div>
      <input value={{user.name}} />
    </div>
    <div>
      <div>Номер Телефона</div>
      <input value={{user.phone}} />
    </div>
    <div>
      <div>ИНН</div>
      <input value={{user.inn}} />
    </div>
    <div>
      <div>Расчетный счет</div>
      <input value={{user.bankAccount}} />
    </div>
    <div></div>
    <div></div>
    <div class="text">Подтвержден</div>
    <div class="text red">На проверке</div>
    <div class="text blue">Привязать счет</div>
    <div></div>
    <div></div>
    <div class="text blue">Изменить</div>
  </div>
</div>
