<div class="main-container">
  <div class="menu">
    <img class="logo" src="../../assets/logo_cabinet.svg" />
    <div class="text-l menu-points"
	 style="margin-left: 52px;
		font-size: 18px;
		font-weight: bold;">
      <div [ngClass]="(activePage == 1) ? 'active' : ''"
	   (click)="changeRoute(1)">Мой профиль</div>
      <div [ngClass]="(activePage == 2) ? 'active' : ''"
      	   (click)="changeRoute(2)">Мой транспорт</div>
      <div [ngClass]="(activePage == 3) ? 'active' : ''"
      	   (click)="changeRoute(3)">Мой маршрут</div>
      <div [ngClass]="(activePage == 4) ? 'active' : ''"
      	   (click)="changeRoute(4)">История заказов</div>
      <div (click)="router.navigate(['/'])">Выход</div>
    </div>
    <div class="balanse">
      <div class="content margin-c">
      <div>Баланс:</div>
      <div>{{ balance }} руб</div>
      </div>
    </div>
  </div>
  <div class="page">
    <div *ngIf="activePage == 1"><app-profile></app-profile></div>
    <div *ngIf="activePage == 2"></div>
    <div *ngIf="activePage == 3"><app-route></app-route></div>
    <div *ngIf="activePage == 4"></div>
  </div>
</div>
